body{
    background-color: hwb(0 32% 68%);
}
h1{
    font-size: 60px;
    color: yellow;
    text-align: center;
}
p{
    font-size: 30px;
    color: yellow;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    margin: 125px;
    border: 10px solid yellow;
}
.cabecalho{
    background-color: gold;
    display: flex;

}
.logoimg{
    width: 50px;
    margin-left: 60xp;
    height: 50px;
}
.listacabecalho{
    display: flex;
    margin-left: 730px;
    margin-left: 125px;
}
 .itemlistacabecalho{
    list-style: nome;
    color:rgb(9, 255, 0);
    font-size: 30px;
    padding-left: 35px;
 
 }
 img{
    border: 5px solid green
 }
 p{ 
    border: 3px dotted green;
 }